@model IEnumerable<Book>

<h2>Books</h2>

<div style="display: block">
    <a href="/Book/InsertBook/">Create a New Book</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td><a href="/Book/ViewBook/@book.ID">@book.ID</a></td>
            <td>@book.Name</td>
            
        </tr>
    }

</table>
