@model Book

<h2>Update @Model.Name</h2>

@using (Html.BeginForm("UpdateBookToDatabase", "Book", "Post"))
{
    <input asp-for="ID" type="hidden" value="@Model.ID" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" />

   

    <input type="submit" value="Update Book" class="btn btn-primary" />
}