@model Book

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th> ID</th>
        <th>Name</th>
        
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>

    </tr>
</table>

<div style="display: block">
    <a href="/Book/UpdateBook/@Model.ID">Update this Book</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteBook", "Book", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this book" />
    }
</div>